*{
    text-decoration: none;
}

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%; 
}

body{
    background-image: url(Bottiglie-vino-.webp);
    backdrop-filter: blur(px);
    background-size: 100% 740px ;
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Roboto Condensed", serif;
   
}

.navbar{
    background-color: transparent;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.navbar,ul{
    display: inline-flex;
    width: 100%;
    list-style: none;
}

.navbar{
    padding: 10px;
    width:  1517px;
    margin-left: 10px;
    height: 100px;
    margin: 0;
    padding: 0;
    position:fixed;
    z-index: 5;
    background-color:transparent;
}
/* #1e272e #121212 */
.navbar{
    position: fixed;
    margin: 0;
    padding: 0;
    width:  100%;
}

#li1{
    margin-left: 200px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#li2{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li3{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li4{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li1:hover{
    color:#e3940b;
}
/* #89866d #130f40 */
#li2:hover{
    color:#e3940b ;
}

#li3:hover{
    color:#e3940b ;
}

#li4:hover{
    color:#e3940b ;
}

#icon2{
    margin-top: 15px;
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 330px;
}

#icon1{
    position: absolute;
    top: 31px;
    right: 20px;
    border-radius: 50%;
    background-color:white; 
    

    /*#4A5899*/
}

#icon3{
    position: absolute;
    top: 31px;
    left: 1370px;
   background-color: white;
   border-radius: 50%;
}

#icon1:hover{
    color: #e3940b;
}

#icon2:hover{
    color: #e3940b;
}

#icon3:hover{
    color: #e3940b;
}
#div2{
    width: 100%;
    height: 1200px;
    background-color: #121212;
    color: white;
    position: relative;
    top: 710px;
}

#H1{
    position: relative;
    top: 70px;
    text-align: center;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#p1{
text-align: center;
position: relative;
top: 130px;
font-family: "Roboto Condensed", serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
}

#div3{
    background-image: url(Wine\ bottle.png);
    image-orientation: center;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(px);
    width: 100%;
    height: 850px;
    background-color: #121212;
    color: whitesmoke;
    position: relative;
    top: 245px;
    align-items: middle;
}

footer{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #121212;
    top: 100px;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    border-color: transparent;
}

#Privacy{
    position:relative;
    top: 337px;
    left: 220px;
    font-size: 30px;
    color: whitesmoke;
}

#Returns{
    position:relative;
    top: 265px;
    left: 80px;
    font-size: 30px;
    color: whitesmoke;
}

#V2025{
    position:relative;
    top: 195px;
    left: 1050px;
    font-size: 30px;
    color: whitesmoke;
}

#Quote{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    position: relative;
    bottom: 30px;
}

#Spam{
    text-align: center;
    position:relative ;
    bottom: 180px;
    color: #9e8862;
    font-size: 30px;
}

#span1{
    color: #9e8862;
}


.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    color: whitesmoke;
    font-size: 22px;
  }
  
  html{
      scroll-behavior: smooth;
  }
  


