*{
    text-decoration: none;
}

html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%; 
}

body{
    background-image: url(Winery-SantaCruz-InversionWines-scaled.jpg);
    background-size: 100% 750px ;
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 200;
}

.navbar{
    width: 100%;
    background: #121212;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
}

.navbar,ul{
    display: inline-flex;
    width: 100%;
    list-style: none;
}

.navbar{
    padding: 10px;
    width:  100%;
    margin-left: 10px;
    height: 100px;
    margin: 0;
    padding: 0;
    position:fixed;
    z-index: 5;
    background-color: #121212;
}
/* #1e272e #121212 */
.navbar{
    position: fixed;
    top: -1px;
    margin: 0;
    padding: 0;
    width:  100%;
    cursor: grab;
}

#li1{
    margin-left: 300px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#li2{
    margin-left: 350px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li3{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li4{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li1:hover{
    color:#e3940b;
}
/* #89866d #130f40 */
#li2:hover{
    color:#e3940b ;
}

#li3:hover{
    color:#e3940b ;
}

#li4:hover{
    color:#e3940b ;
}
#image1 {
    height: 60px;
    width: auto;
    margin-right: 32px;
    object-fit: contain;
    display: block;
}

.dropdown {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.dropdown-button {
    font-size: 20px !important;
    font-family: inherit!important;
    height: 100px;
    display: flex;
    align-items: center;
    border: none;
    color: white;
    padding: 0 8px;
    margin: 0;
    box-shadow: none;
    line-height: 100px;
    vertical-align: middle;
}

.dropdown-button {
    font-size: 20px !important;
    font-family: inherit !important;
    font-weight: 100 !important;
    height: 100px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    padding: 0 8px;
    margin: 0;
    box-shadow: none;
    line-height: 100px;
    vertical-align: middle;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    padding: 0;
    margin-left: 16px;
    height: 40px;
    width: 40px;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32px;
    height: 32px;
    gap: 6px;
}
.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s;
}
.navbar-toggle[aria-expanded="true"] .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.navbar-toggle[aria-expanded="true"] .hamburger span:nth-child(2) {
    opacity: 0;
}
.navbar-toggle[aria-expanded="true"] .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
.dropdown-arrow {
    font-size: 12px;
    margin-left: 2px;
}
.navbar-overlay {
    display: none;
}
.navbar-overlay.active {
    display: none;
}

@media (max-width: 900px) {
    .navbar-container {
        height: 60px;
    }
    .navbar-logo img {
        height: 40px;
    }
    .navbar-menu li, .navbar-menu li a, .navbar-menu li button, .dropdown-button {
        font-size: 18px;
        height: 60px;
    }
    .navbar-icons {
        height: 60px;
        margin-right: 10px;
        gap: 10px;
    }
}
@media (max-width: 700px) {
    .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 80px 0 0 0;
        height: auto;
    }
    .navbar-icons {
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 0 24px;
        height: auto;
        gap: 10px;
    }
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    padding: 0;
    margin-left: 16px;
    height: 40px;
    width: 40px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32px;
    height: 32px;
    gap: 6px;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s;
}
.navbar-toggle[aria-expanded="true"] .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.navbar-toggle[aria-expanded="true"] .hamburger span:nth-child(2) {
    opacity: 0;
}
.navbar-toggle[aria-expanded="true"] .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
.dropdown-arrow {
    font-size: 12px;
    margin-left: 2px;
}
.navbar-overlay {
    display: none;
}
.navbar-overlay.active {
    display: none;
}

#image1 {
    height: 60px;
    max-height: 70px;
    width: auto;
    object-fit: contain;
    margin-right: 24px;
    display: block;
}  

#icon1, #icon2, #icon3 {
    position: static;
    margin: 0 8px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    vertical-align: right;
    display: inline-block;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #121212;
    min-width: 160px;
    z-index: 2000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 0;
    font-family:inherit!important;
    font-weight: 100;
}

/* Links inside dropdown */
.dropdown-content li {
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 100;
}

.dropdown-content a {
    color: white;
    padding: 0 16px;
    display: block;
    border-radius: 0;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    font-family: inherit;
    font-weight: 100;
}

.dropdown-content a:hover, .dropdown-content a:focus {
    color: #e3940b;
    background: none;
}


.dropdown-content.show {
    display: block;
}

#icon1:hover{
    color: #e3940b;
}

#icon2:hover{
    color: #e3940b;
}

#icon3:hover{
    color: #e3940b;
}
.navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 32px;
    box-sizing: border-box;
}

.navbar-logo {
    flex: 0 0 auto;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    flex: 0 1 auto;
}

.navbar-menu li {
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    left: 300px; 
    font-weight: 100;
    font-family: inherit;   
}

.navbar-menu a, .dropdown-button {
    font-family: inherit;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    color: white;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 8px;
    height: 100px;
    display: flex;
    align-items: center;
    transition: color 0.2s;
    text-decoration: none;
}

.navbar-menu a:hover, .dropdown-button:hover {
    color: #e3940b;
}

#li1, #li2, #li3, #li4 {
    margin-left: 0 !important;
    margin-top: 0 !important;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.navbar-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 16px;
}

@media (hover: hover) and (pointer: fine) {
    .dropdown:hover .dropdown-content,
    .dropdown:focus-within .dropdown-content {
        display: block;
    }
}

#p1{
    color: #fff;
    margin-left: 570px;
    margin-top:  100px;
    text-align: center;
    color: black;
}


#p2{
    font-size: 48px;
    color: #fff;
    position: relative;
    left: 285px;
    bottom: 130px;
    text-align: center;
    color: #121212;
}

#h2{
    font-size: 48px;
    color: #fff;
    position: relative;
    left: 285px;
    bottom: 170px;
    text-align: center;
    color: #121212;

}

#div2{
    border: 1px solid transparent;
    width: 600px;
    height: 500px;
    background-color: transparent;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 160px;
    color: white;
    width: 50%;
}

#div3{
    background-color: #121212;
    border: 1px solid transparent;
    width: 100%;
    height: 500px;
    text-align: justify;
}

#Historiku{
color: white;
margin-top: 250px;
margin-left: 100px;
font-size: 20px;
color: #121212;
}

#Labiwine{
margin-left: 97px;
font-size: 50px;
color: #fff;
position: relative;
bottom: 250px;
}

#text2{
    font-size: 20px;
    color: #fff; 
    margin-left: 100px;
    position: relative;
    bottom: 200px;
}

#textt2{
    font-size: 20px;
    color: #fff; 
    margin-left: 450px;
    position: relative;
    bottom: 200px;
}

#texttt2{
    font-size: 20px;
    color: #fff; 
    margin-left: 950px;
    position: relative;
    bottom: 200px;
}

#div4{
    border: 1px solid transparent;
    background-color: #121212;
    width: 100%; 
    height: 700px;
 }

#div6{
    width: 100%; 
    height:1165px;
    position: relative;
    border: 1px solid transparent;
    background-color: #121212;
}

#imgg{
  width: 560px;
  height: 570px;
  margin-left: 180px;
  margin-top: 10px;
}

#div-slider{
    margin-top: -70px;
}


#image3{
    width: 400px;
    height: 600px;
    float: left;
    clear: left;
    margin-left: 250px;
    position: relative;
    top: 30px;
}

#teksiidivitte3{
    margin-left: 200px;
    float: left;
    margin-top: 140px;
}

#nendiv2{
text-align: center;
}

#Labi{
    background-color: #00a8ff;
    color: #121212;
    margin-top: 200px;
}

#p{
    position: relative;
    top: 40px;
    color: whitesmoke;
}

#ppp{
    position: relative;
    top: 30px;
    color: whitesmoke;
}

#pp{
   position: relative;
   top: 50px;
  
   color: white;
}

#button{
    position: relative;
    top: 90px;
    right: 30px;
    width: 140px;
    height: 40px;
    cursor: pointer;
    background-color: #e3940b;
    color: whitesmoke;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#button2{
    position: relative;
    top: 90px;
    left: 333px;
    width: 180px;
    height: 40px;
    cursor: pointer;
    display: block;
    background-color: #9e8862;
    color: white;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#contact{
position: relative;
top: 90px;
color: #f1f2f6;
}

#span1{
    color:#9e8862;
}

#Rahova{
    margin: 0;
    padding: 0;
    position: relative;
    top: 780px;
    clear:left;
    float:left;
    box-sizing: content-box;
}

#vere{
    color: white;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 30px;
}

#ekuqe{
    color: white;
    padding-left: 50px;
    font-size: 40px;
    position: relative;
    top: -20px;
    margin-top: -15px;
}

#Chardonnay{
    position: relative;
    top: 0px;
    float: left;
    clear: left;
    rotate: 180deg;
    
}

#nendiviidivittte5{
    width: 600px;
    height:400px;
    background-color: #121212;
    border: 1px double transparent;
    position: relative;
    top: 700px;
    float: right;
    clear: right;
}

#nendiviidivitte5{
    width: 600px;
    height:400px;
    background-color: #121212;
    border: 1px double transparent;
    position: relative;
    bottom:250px;
    float: right;
    clear: right;
}

#span2{
    color: #9e8862;
}

#hr1{
    width: 50px;
    position: relative;
    right: 250px;
    bottom: 15px;
    color: #9e8862;
    margin-left: 320px;
}

#hr2{
    width: 50px;
    position: relative;
    right: 250px;
    bottom: 15px;
    color: #9e9862;
    margin-left: 320px;
}

#hr3{
    width: 50px;
    position: relative;
    right: 250px;
    bottom: 15px;
    color: #9e8862;
    margin-left: 320px;
}

#id{
    position: relative;
    left: 135px;
    bottom: 50px;
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 20px  red;
}

::selection{
    background-color: #090C9B;
}

#divwrapper{
    width: 100%;
    background-color: #121212;
    height: 1600px;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}

#insidewrapper{
    width: 600px;
    height: 600px;
    border: 1px solid transparent;
    position: relative;
    top: 160px;
    left: 186px;
    
    
}

#insidewrapper{
    background-image: url(123.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(5px);
}


#img4{
    height: 300px;
    width: 600px;
    position: relative;
    bottom: 300px;
}
#insidewrapper2{
    width: 600px;
    background-color:#121212;
    height: 600px;
    border: 1px solid transparent;
    position: relative;
    bottom: 441px;
    left: 781px;
    text-align: justify;
    box-sizing: content-box;
}

#insidewrapper3{
    width: 600px;
    background-color:#121212;
    height: 600px;
    border: 1px solid transparent;
    position: relative;
    bottom: 442px;
    left: 180px;
    box-sizing: content-box;
}

#insidewrapper4{
    width: 600px;
    background-color:#121212;
    height: 600px;
    border: 1px solid transparent;
    position: relative;
    bottom: 1044px;
    left: 781px;
    box-sizing: content-box;
}

#insidewrapper4{
    background-image: url(123.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(5px);
    box-sizing: content-box;
}

.h10{
    position: relative;
    font-size: 40px;
    top: 80px;
    text-align: center;
    color: #fff;
}

.h11{
    color: #fff;
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 160px;
}

.h12{
    color: #fff;
    text-align: center;
    position: relative;
    top: 140px;
    font-size: 20px;
}

.h13{
    color: #fff;
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 20px;
}

.h14{
    color: #fff;
    text-align: center;
    position: relative;
    top: 100px;
}

.h15{
    color: #fff;
    text-align: center;
    position: relative;
    top: 80px;
    font-size: 20px;
}
.h16{
    color: #fff;
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 20px;
}
.h17{
    color: #fff;
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 20px;
}

.h18{
    color: #fff;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 20px;
}

.h19{
    color: #fff;
    text-align: center;
    position: relative;
    top: 0px;
    font-size: 20px;
}

#footer{
    width: 100%;
    height: 500px;
    background-color:#121212;
    position: relative;
    bottom: 50px;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    border-color: transparent;
}

#Returns{
    position:relative;
    top: 360px;
    left: 80px;
    font-size: 30px;
    color: #fff;
}

#Privacy{
    position:relative;
    top: 290px;
    left: 180px;
    font-size: 30px;
    color: #fff;
}

#v2024{
    position:relative;
    top: 225px;
    left: 1000px;
    font-size: 30px;
    color: #fff;
}

#Quote{
    text-align: center;
    font-size: 60px;
    color: #fff;
    position: relative;
    bottom: 70px;
}

#Labiwinee{
    text-align: center;
    position:relative ;
    top: 200px;
    color: #9e8862;
}

#spam{
    color: #9e8862;
    font-size: 30px;
}

#allwrappers{
    box-sizing: fit-content;
}

.gotop{
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  bottom: 1px;
  right: 20px;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
  color: whitesmoke;
  font-size: 22px;
}

html{
    scroll-behavior: smooth;
}

/* --- Center navbar links, icons far right, original icon style --- */

