*{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(pexels-pixelcurator-15786533.jpg);
    background-position: top;
    background-size: 100% 3300px;
    background-attachment:scroll;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    text-decoration: none;
    text-transform: none;
    overflow-x: hidden;
}

.navbar{
    background-color: transparent;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}

.navbar,ul{
    display: inline-flex;
    width: 100%;
    list-style: none;
}

.navbar{
    padding: 10px;
    width:  100%;
    margin-left: 10px;
    height: 100px;
    margin: 0;
    padding: 0;
    position:fixed;
    z-index: 5;
    background-color: #121212;
}
/* #1e272e #121212 */
.navbar{
    position: fixed;
    top: -1px;
    margin: 0;
    padding: 0;
    width:  100%;
}

#li1{
    margin-left: 350px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#li2{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li3{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

#li4{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.dropdown {
      position: relative;
      display: inline-block;
      top: 16px;
      left: 23px;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    }

    /* Button to trigger dropdown */
    .dropdown-button {
      background-color: #121212;
      color: white;
      padding: 10px 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #121212;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 4px;
        font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    }

    /* Links inside dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
        font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    }

    /* Hover effect */
    .dropdown-content a:hover {
      background-color: black;
        font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    }

    /* Show the dropdown on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

#li1:hover{
    color:#e3940b;
}
/* #89866d #130f40 */
#li2:hover{
    color:#e3940b ;
}

#li3:hover{
    color:#e3940b ;
}

#li4:hover{
    color:#e3940b ;
}

#icon1, #icon2, #icon3 {
    position: static;
    margin: 0 8px;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

#icon1:hover{
    color: #e3940b;
}

#icon2:hover{
    color: #e3940b;
}

#icon3:hover{
    color: #e3940b;
}

.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    bottom: 1px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    color: whitesmoke;
    font-size: 22px;
  }
  
  html{
  scroll-behavior: smooth;
  }


#Div1{
 width: 300px;
 height:600px;
 background-color: #121212;
 color: white;
 position: relative;
 top: 250px;
 left: 100px;
 display: inline-flex;
 

}

#nendivi1{
    background-image: url(Vranc\ 2017.png);
    background-size: cover;
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

#p1{
    position: relative;
    top: 30px;
    left: 20px;
    color: darkgoldenrod;
}

#hr1{
    width: 80px;
    position: relative;
    top: 5px;
}

#hr2{
    width: 80px;
    position: relative;
    bottom: 5px;
}

#p2{
    position: relative;
    top: 20px;
    left: 20px;
    color: darkgoldenrod;
}

#p3{
    position:absolute;
    bottom: 73px;
    left: 220px;
}

#p4{
    position:absolute;
    bottom: 30px;
    left: 220px;
}

#nendiviidivittepare{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 440px;
}


#Div2{
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: relative;
    left: 600px;
    bottom: 365px;
}

#nendivi2{
    background-image: url(Vranc\ 2018.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

#nendiviidivittedyte{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 455px;
}

#Div3{
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: relative;
    left: 1100px;
    bottom: 981px;
}

#nendivi3{
    background-image: url(Vranc\ 2019.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

#nendiviidivittetrete{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 455px;
}

#Div4{
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: relative;
    left: 600px;
    bottom: 749px;
}

#nendivi4{
    background-image: url(Rahova\ klasike.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
    
}

#nendiviidivittekatert{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 455px;
}


#Div5{
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: relative;
    bottom: 1365px;
    left: 100px;
}


#nendivi5{
    background-image: url(Vranc\ 2019.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

#nendiviidivittepeste{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 455px;
}

#Div6{
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: relative;
    bottom: 1980px;
    left: 1100px;
}


#nendivi6{
    background-image: url(Cabernet.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

#nendiviidivittegjashte{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top:455px;
}

#Div7{
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: relative;
    bottom: 1600px;
    left: 100px;
}


#nendivi7{
    background-image: url(Chardonnay\ 2018.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
    display: inline-block;
}

#nendiviidivitteshtate{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 438px;
}

#Div8{
    width: 300px;
    height:500px;
    background-color: #121212;
    color: white;
    position: relative;
    bottom: 1500px;
    left: 600px;
}

#nendivi8{
    background-image: url();
    background-position: center;
    width: 290px;
    height:350px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
    display: inline-block;
}

#nendiviidivittetete{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 338px;
}

#Div9{
    
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: relative;
    bottom: 2715px;
    left: 1100px;
}

#nendivi9{
    background-image: url(Grand\ Rahova.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
}

#nendiviidivittenente{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 455px;
}
   
#Div10{
    width: 300px;
    height:600px;
    background-color: #121212;
    color: white;
    position: absolute;
    top: 2080px;
    left: 600px;
}

#nendivi10{
    background-image: url(Chardonnay\ 2022.png);
    background-position: center;
    width: 290px;
    height:450px;
    background-color: #1F2421;
    color: white;
    position: relative;
    top: 5px;
    left: 5px;
    display: inline-flex;
}

#nendiviidivitte10{
    width: 290px;
    height:137px;
    background-color: #373737;
    position: relative;
    top: 455px;
}

footer{
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 2130px;
    background-color: #121212;
    font-family: "Truculenta", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    border-color: transparent;
}

#Privacy{
    position:relative;
    top: 337px;
    left: 220px;
    font-size: 30px;
    color: whitesmoke;
}

#Returns{
    position:relative;
    top: 265px;
    left: 80px;
    font-size: 30px;
    color: whitesmoke;
}

#V2025{
    position:relative;
    top: 195px;
    left: 1050px;
    font-size: 30px;
    color: whitesmoke;
}

#Quote{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    position: relative;
    bottom: 30px;
}

#Spam{
    text-align: center;
    position:relative ;
    bottom: 180px;
    color: #9e8862;
    font-size: 30px;
}

#span1{
    color: #9e8862;
}


.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent;
    bottom: 1px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
    color: whitesmoke;
    font-size: 22px;
  }
  

  html{
    scroll-behavior: smooth;
  }

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}
#image1 {
    height: 60px;
    max-height: 70px;
    width: auto;
    object-fit: contain;
    margin-right: 24px;
    display: block;
}
.navbar-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100px;
}
.navbar-icons {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    margin-left: auto;
    gap: 16px;
}
#icon1, #icon2, #icon3 {
    position: static;
    margin: 0 8px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    display: inline-block;
    border-radius: 0;
}